{#
/**
 * @file
 * Default theme implementation to display a search did you mean.
 *
 * Available variables:
 * - label: Text to display in front of the did you mean.
 * - link: The link (\Drupal\Core\Link object) to which the did you mean will
 *   redirect the user.
 *
 * @ingroup themeable
 */
#}

<div class="sapi-suggestions">
  <span class="suggestions-prefix">{{ label }} </span>
  <ul>
  {% for suggestion in suggestions %}
    <li>{{ suggestion }}</li>
  {% endfor %}
  </ul>
</div>

