.banner-content {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 340px;
  padding: 0;
  background-position: top center;
  background-size: cover;
  border-bottom: 4px solid $teachers-gray;

  @media (min-width: 768px) {
    align-items: center;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .banner-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .container {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;

    @media (max-width: 767px) {
      max-width: none;
      background: $teachers-fourth-blue;
      justify-content: flex-start;
      text-align: left;
    }

    @media (min-width: 768px) {
      &.text-pos-left {
        justify-content: flex-start;
        text-align: left;
      }
      &.text-pos-right {
        justify-content: flex-end;
        text-align: right;
      }
    }
  }

  .banner-text {
    padding: 20px 0;
    color: $white;

    @media (min-width: 768px) {
      padding: 0;
      margin-top: -70px;
    }
    @media (max-width: 768px) {
      max-width: 605px;
      width:100%;
      padding-left:15px;
      padding-right:15px;
      margin:0 auto;
    }
    @media (max-width:567px) {
      padding-left:0;
      padding-right:0;
    }
    h1 {
      font-size: 32px;
      line-height: normal;
      font-weight: 400;
      margin: 0;
      font-family: $font-family-sans-serif;

      @media (min-width: 768px) {
        font-size: 55px;
      }
      // @media (min-width: 1195px) {
      //   font-size: 2.4rem;
      //   line-height: 2.4rem;
      // }
    }

    h1 + * {
      margin-top: 1rem;
    }

    p {
      font-size: 1.2rem;

      @media (max-width: 767px) {
        font-weight: bold;
      }

      @media (min-width: 768px) {
        font-size: 1.6rem;
      }
      @media (min-width: 1195px) {
        font-size: 1.9rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.path-frontpage{
  .banner-content{
    border-bottom: 4px solid $teachers-fourth-blue;
    .container{
      @media only screen and (max-width:767px){
        justify-content: center;
      }
    }
    .banner-text {
      @media only screen and (max-width:767px){
        text-align: center;
      }
      h1{
        font-family: $font-family-sans-serif-bold;
        font-size: 42px;
        font-weight: 700;
        @media only screen and (max-width:767px){
          font-family: $font-family-sans-serif;
          font-size: 36px;
          font-weight: 400;
          line-height: 44px;
        }
      }
      .field--name-field-content-description{margin-top: 5px;
        p{
          font-family: $font-family-sans-serif-regular;
          font-size: 31px;
          font-weight: 400;
          text-align: left;
          @media only screen and (max-width:767px){
            font-family: $font-family-sans-serif-bold;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            text-align: center;
          }
        }
      }
    }
  }
}


.banner-content-mobile{
  display: none;
  min-height: 1px;
}
body{
  &:not(.path-frontpage){
    .banner-content{background-position: right top;
      @media (min-width:1200px) {
          background-position: right center;
      }
    }
  }
}

@media (max-width: 767px) {
  .banner-content{
    display: none;
    border-bottom: none;
    &.banner-content-mobile{
      display: block;
      .img-wrapper{
        min-height: 340px;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
      }
    }
  }
}

@media (max-width: 535px) {
  .banner-content.banner-content-mobile .img-wrapper{min-height: 220px;}
}
