.lesson_wrapper, .resource_wrapper{
  &_intro{
    padding-top: 38px;
    padding-bottom: 40px;
    border-bottom: 10px solid rgba(242, 195, 36, 1);
    background-color: rgb(242, 242, 242);
    @media only screen and (max-width:1200px){
      [class^=col]{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        + [class^=col]{
          margin-top: 20px;
          margin-left:0;
        }
      }
    }
    @media only screen and (max-width:767px){
      padding-bottom:20px;
      padding-top:20px;
    }
  }
  &__intro__title{margin-bottom: 25px;
    font-family: $font-family-sans-serif; font-size: 45px; color:$teachers-text; font-weight: normal;
    @media only screen and (max-width:767px){
      font-size: 28px;
    }
    span{
      font-weight: 700;
    }
  }
  &_intro__life_cycle{margin-bottom: 25px;
    font-family: $font-family-sans-serif-bold; font-size: 18px; font-weight: normal; color:rgba(51, 51, 51, 0.72156862745098);
    @media only screen and (max-width:767px){
      font-size: 16px;
    }
    .field__item{
      font-family: $font-family-sans-serif-italic;
    }
    span{
     font-weight: 700;
     font-size: 18px;
    }
    .field__item{
      font-weight: normal;
    }
    .field, .field__item{display: inline-block;}
  }
  &_intro__body{
    p{
      font-size: 21px;
      color:$teachers-text;
      font-weight: 400;
      line-height: 31px;
      margin-bottom: 33px;
      @media only screen and (max-width:767px){
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 22px;
      }
    }
  }
  &_intro__tags{display: inline-block; width:100%;}
  &_intro__grade{display: inline-block;
    .field{
      display: flex;
      flex-wrap: wrap;
    }
   .field__item {
     margin:0 2.5px 5px 2.5px;
     &:last-child{
       margin-right: 0;
     }
      > div {
        background:rgba(7, 53, 115, 1);
        border-radius: 9px;
        padding:2px;
        width: 91px;
        height: 27px;
        text-align: center;
        color: $teachers-bg-light;
        text-transform:uppercase;
        font-size:15px;
        line-height: normal;
      }
    }
  }


  &_intro__time{
    display: inline-block;
    border-radius: 9px;
    background: $teachers-bg-light;
    color:#2379A4;
    font-size: 15px;
    border:3px solid #2379A4;
    padding:0px 18px 0 34px;
    position: relative;
    height: 27px;
    &:before{
      content:'';
      position:absolute;
      top:2px;
      left:13px;
      width: 15px;
      height:15px;
      background: url(../images/clock.svg) center no-repeat;
      background-size: 15px;
    }
  }

  &_main__lable{
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color:$teachers-bg-grey;
    margin-bottom: 45px;
    &.xs-show{
      font-size: 32px;
      margin-bottom: 25px;
      @media only screen and (min-width:768px){
        display: none;
      }
    }

    &.xs-hide{
      @media only screen and (max-width:767px){
        display: none;
      }
    }
    @media only screen and (max-width:767px){
      font-size: 32px;
      margin-bottom: 25px;
    }
  }
  &_main_para_item + &_main_para_item{
      margin-top: 50px;
  }

  &_main_para_item{
    .download-worksheets-container{
      margin-top: 70px;
    }
  }
  &_main_para_item__title{
    font-family: $font-family-sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    display: inline-block;
    padding-bottom:5px;
    margin-bottom: 43px;
    position: relative;
    @media only screen and (max-width:767px){
      margin-bottom: 23px;
    }
    &:after{
      position: absolute;
      content: '';
      width: calc(100% + 18px);
      height: 4px;
      bottom: -3px;
      background: rgba(215, 215, 215, 1);;
      left: 0;
    }
    .icon-bulb{
      position: absolute;
      right:-40px;
      top:0;
    }
  }

  &_main_para_item__body{
    display: block;
    width: 100%;
    p{font-size: 16px;
      line-height: 24px;
      // &:first-child{
      //   font-size: 21px;
      //   line-height: 1.3;
      // }
      a{color:$teachers-secondary-blue; text-decoration: none;}
    }
    ol{counter-reset: num;
      li{
        &:before{
          counter-increment: num;
          content: counter(num)".";
          position:absolute;
          top:0;
          left:0;
          font-weight: 700;
          font-size: inherit;
        }
        > ol{
          list-style-type: lower-alpha;
          > li{padding-left:0;
            + li{margin-top:10px;}
            &:before{display: none;}
            &::marker{font-weight: 700;}
          }
        }
      }
      &:last-child{
        margin-bottom:70px;
      }
    }

    ul{padding-left: 25px !important;
      li{
        &:before{
          content:'';
          position:absolute;
          top:9px;
          left:0;
          width:5px;
          height:5px;
          border-radius: 100%;
          background: $teachers-bg-grey;
        }
      }
      ul{
        margin-top: 5px;
        li{
          &:before{
            background: transparent;
            border: 1px solid $teachers-bg-grey;
          }
        }
      }
    }

    ul,ol{list-style: none; padding:0;
      li{
        font-size: 16px; line-height:24px; color:$teachers-bg-grey; position: relative; padding-left:20px;
        p,span,a{font-size: 16px;}
        + li{
          margin-top:20px;
        }
      }
    }
  }

  .main_section{
    padding:55px 0;
    &.resource_plan_section{
      .row{
        @media only screen and (max-width:767px){
          flex-direction: column-reverse;
        }
      }
    }
    @media only screen and (max-width:640px){
      padding:25px 0;
    }
  }

  &_left__img{
    @media only screen and (min-width:768px) {
        margin-top: 40px;
    }
    @media only screen and (max-width:767px) {
      margin-bottom:30px;
    }
  }
}

.resource_wrapper{
  &_intro{
    border-bottom: 10px solid $teachers-bg-grey;
    background:rgba(242, 242, 242, 1);
    @media only screen and (max-width:767px) {
      border-width: 5px;
    }
  }
}


.block-views-blockrelated-resource-and-lesson-plan-block-1{
  width:100%;
  padding:40px 15px;
  background:rgba(242, 242, 242, 1);
  overflow: hidden;
  > h2{
    font-family: $font-family-sans-serif-regular;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: $teachers-bg-grey;
    margin-bottom:30px;
    text-align: center;
    @media only screen and (max-width:767px){
      font-size: 28px;
      margin-bottom: 0;
    }
  }

}
.related_news_wrapper{
  //grid css changes
  @media (min-width: 768px){
    .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
  }

  @media (min-width: 992px){
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
  }
  @media only screen and (max-width:991px){
    [class^=col-]{
      padding-top:5px;
      padding-bottom:5px;
    }
  }

 .row{justify-content: center;}
 &--item{
   border-radius: 15px;
   //overflow: hidden;
   background: $teachers-text-light;
   border:1px solid rgb(226, 226, 226);
   box-shadow: none;
  transition: 0.5s;
   &:hover{
    box-shadow:rgba(170, 170, 170, 0.35) 0px 0px 10px;
    background: #f2f2f2;
    .related_news_wrapper_title a{text-decoration: underline;}
   }
  }
  &_assest_type{
    font-size: 15px;
    color: $teachers-text-light;
    text-align: center;
    background: #333;
    border-radius: 15px 15px 0 0;
    padding: 6px 5px;

    &.resourceplan{
      background:rgba(215, 215, 215, 1);
      color: #333;
    }

    &.lessonplan{
      background:rgba(51, 51, 51, 1);
      color: #fff;
    }
  }
  &_img{
    min-height: 110px; background: #2771CA;
    img{object-fit: cover; width:100%; height:100%}
  }
  &--inner{
    padding:15px;
  }
  &_title a{
    font-family: $font-family-sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: $teachers-secondary-blue;
    text-decoration: none;
    margin-bottom:10px;
    display: inline-block;
  }

  &_desc{
    p{
      font-family: $font-family-sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      color: $secondary_color_1;
      line-height: 24px;
    }
  }

  &_grade{
    margin-top:12px;
      .item-list{display: inline-block; width:100%;}
      ul{margin:0; padding:0; list-style: none;
        li {
          margin:4px 2px 0;
          display: inline-block;
          padding:0;
          div{
            background:$secondary_color_4;
            border-radius: 9px;
            padding:2px;
            color: $teachers-bg-light;
            text-transform:uppercase;
            font-size:15px;
            line-height: normal;
            display: inline-block;
            text-align: center;
            width: 91px;
            height: 27px;
          }
        }
      }
  }

  &_cls{
    padding:15px;
    font-family: $font-family-sans-serif; font-size: 15px; font-weight: 400; color:$secondary_color_2; font-style: italic; border-top:1px solid rgb(226, 226, 226); border-radius: 0 0 15px 15px;
    span{
     font-weight: 700;
     color:$teachers-text;
     font-style: normal;
    }
    .item-list, ul{display: inline-block; margin: 0; padding:0;}
    ul{padding:0; list-style: none; margin-left:-2.5px; margin-right: -2.5px;
      li{display: inline-block; font-family: $font-family-sans-serif; font-size: 15px; font-weight: 400; color:$secondary_color_2; font-style: italic; margin:0 2.5px; padding:0; }
    }
  }
}


@media only screen and (max-width:640px){
  .download-worksheets-container--wrapper{
    width: 100%;
  }
}


.lesson_wrapper_intro{
  .download-worksheets-container{
    display: flex;
    justify-content: flex-end;
  }
}
.download-worksheets-button{
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  color:$teachers-bg-light;
  background: $teachers-fifth-blue;
  border-radius: 15px;
  padding:7px 10px 7px 65px;
  position: relative;
  width:100%;
  margin-bottom:20px;
  border:2px solid $teachers-fifth-blue;
  text-decoration: none;
  max-width: 330px;
  transition: 0.5s;
  @media only screen and (max-width:640px){
    max-width:100%;
  }
  p{
    margin: 0;
    text-align:center;
    span{
      font-weight: normal;
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }
  &:before{
    content: '';
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:30px;
    width:30px;
    height:30px;
    background:url(../images/download-white.svg) center no-repeat;
    background-size: cover;
    transition: 0.5s;
  }

  &:link,
  &:visited {
    color:$teachers-bg-light;
    background: $teachers-fifth-blue;
  }

  &:hover,
  &:active,
  &:focus {
    background:$teachers-bg-light;
    color:$teachers-fifth-blue;
    box-shadow: 0px 0px 10px #d7d7d7;
    text-decoration: none;
    &:before{
      background:url(../images/download-blue.svg) center no-repeat;
      background-size: cover;
    }

  }
}

.align-item-end{ display: flex; align-items: flex-end;}
.share-this-resource{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-align: right;
    color:$teachers-bg-grey;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media only screen and (max-width:1200px){
      justify-content: flex-start;
    }
}
.sharethis-wrapper{
  display: inline-block;
  margin-left:5px;
  .stButton{display: flex; justify-content: center; align-items: center; width:38px; height:38px; margin:0 1px; background-color: $teachers-bg-grey; border-radius: 100%; background-size: 25px 25px; background-position: center; background-repeat: no-repeat; transition: 0.5s;
    .stLarge{display: none;}
    &:hover{background-color:#989898;}
    // @media only screen and (max-width:480px){
    //   width:30px; height:30px;
    //   background-size: 20px;
    // }
  }

  .st_email_large .stButton{background-image:url(../images/mail.svg);}
  .st_facebook_large .stButton{background-image:url(../images/facebook.svg); background-size: 13px;
    @media only screen and (max-width:480px){
      //background-size: 10px;
    }
  }
  .st_twitter_large .stButton{background-image:url(../images/twitter.svg); background-size: 20px;
    @media only screen and (max-width:480px){
      //background-size: 16px;
    }
  }
  .st_linkedin_large .stButton{background-image:url(../images/linkedin.svg); background-size: 18px;
    @media only screen and (max-width:480px){
      //background-size: 16px;
    }
  }

}



.download-worksheets-files-wrapper{display: none;
  &.open{display: block;}
  &:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(51,51,51, 0.5);
    top: 0;
    left: 0;
    z-index: 9;
  }
  &__inner {
    position: fixed;
    z-index: 11;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 20px;
    width:100%;
    max-width:900px;

    ul.file-list {
        padding: 0;
        margin: 0;
        list-style: none;
        li{
          display: flex;
          justify-content: space-between;
          @media only screen and (max-width:767px){
            flex-wrap: wrap;
            justify-content: flex-end;
          }
          + li{
            margin-top:20px;
          }
          @media only screen and (max-width:767px){
            &:first-child{
              .file-url{padding-left:35px;}
            }
          }
          &.download-all {
            padding: 33px 15px;
            background: rgb(226 226 226);
            @media only screen and (max-width:767px){
              justify-content: space-between;
              align-items: center;
            }
            @media only screen and (max-width:500px){
              justify-content: flex-end;

            }

            .file-title-all{
              padding-left:48px;
              position: relative;
              font-size: 16px;
              @media only screen and (max-width:500px){
               flex: 0 0 100%;
               width:100%;
              }
              &:before{
                content:'';
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                left:-8px;
                width: 48px;
                height:48px;
                background: url(../images/download-all.svg) center no-repeat;
              }
            }
            .size-all{font-size: 16px; padding:0 5px;
              @media only screen and (max-width:767px){
                padding:0;
                margin: 14px 0;
              }
              @media only screen and (max-width:480px){
                padding-left:50px;
              }
            }
            .file-url{
              @media only screen and (max-width:480px){
                padding-left:20px;
                margin:0;
              }
              a{
                font-size: 16px;
                color:#fff;
                background:#2379A4;
                padding: 8px 10px;
                text-decoration: none;
                white-space: nowrap;
                border:2px solid #2379A4;
                transition: 0.5s;
                &:hover{
                  background:#fff;
                  color:#2379A4;
                }
              }
            }
          }
          .file-title{
            max-width: 550px;
            min-width:400px;
            word-break: break-word;
            position: relative;
            padding-left:45px;
            font-size: 16px;
            @media only screen and (min-width:768px){
              margin-left: 18px;
            }
            @media only screen and (max-width:767px){
              max-width:100%;
              flex:0 0 95%;
              min-width: 320px;
            }
            &:before{
              content:'';
              position: absolute;
              top:-9px;
              left:-8px;
              width: 48px;
              height:48px;
              @media only screen and (min-width:768px){
                left:-10px;
              }
            }
            &[class$=document],
            &[class$=msword]{
              &:before{
                background: url(../images/doc-icon.svg) center no-repeat;
              }
            }
            &[class$=pdf]{
              &:before{
                background: url(../images/pdf-icon.svg) center no-repeat;
              }
            }
          }
          .file-size{font-size: 16px; padding:0 6px; white-space: nowrap; min-width: 120px; text-align: right;
            @media only screen and (max-width:767px){
             padding:0 0 0 45px;
             margin:13px 0 0 0;
            }
          }

          .file-url{
            @media only screen and (max-width:767px){
              padding:0 0 0 20px;
              margin-top: 10px;
             }
            a{
              color:#0178B5;
              font-size: 16px;
              padding: 6px 10px;
              border:2px solid transparent;
              transition: 0.5s;
              &:hover{
                border-color:#2379A4;
              }
            }
          }
        }
        .size-url-wrap{
          display: flex;
          .file-url{margin-left:50px;}

        }
        .download-all{justify-content: space-between;
          .size-url-wrap{
            display: flex;
            align-items: center;
            @media only screen and (max-width:767px){
              margin-top:8px;
            }
            .file-url{margin-left:13px;}

          }
        }
    }
  }

  &__intro--inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    .title{
      font-size: 21px;
      display: inline-block;
      padding-right: 10px;
    }
    .close-popup{
      display: inline-block;
      width:20px;
      height: 20px;
      a{
        font-size: 0;
        display: inline-block;
        width:20px;
        height:20px;
        background:url(../images/close.svg) center no-repeat;
        background-size: cover;
        vertical-align: top;
      }
    }
  }
  &__sub-title{
    font-size: 16px;
    margin-bottom: 35px;
  }
}


.go-to-resource-wrapper{

  @media only screen and (min-width:1201px){
    padding-left:40px;
    width:100%;
  }
  @media only screen and (max-width:640px){
    width:100%;
  }
  &-button{
    display: flex;
    justify-content: center;
    a{
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      color:$teachers-bg-light;
      background: $teachers-fifth-blue;
      border-radius: 15px;
      padding:12px 10px 12px 50px;
      position: relative;
      width:100%;
      border:2px solid $teachers-fifth-blue;
      text-decoration: none;
      max-width: 330px;
      transition: 0.5s;
      text-align: center;
      margin-bottom: 20px;
      @media only screen and (max-width:640px){
        max-width: 100%;
        width:100%;
      }
      &:before{
        content: '';
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left:17px;
        width:30px;
        height:30px;
        background:url(../images/white-resource.svg) center no-repeat;
        background-size: cover;
        transition: 0.5s;
      }
      &:hover{
        background:$teachers-bg-light;
        color:$teachers-fifth-blue;
        &:before{
          background:url(../images/blue-resource.svg) center no-repeat;
          background-size: cover;
        }

      }
    }
  }
  &-view-button{
    a{
      font-size: 16px;
      color:$teachers-text;
      text-decoration: none;
      border:2px solid transparent;
      border-radius: 15px;
      font-weight: 400;
      padding:12px 10px 12px 70px;
      transition: 0.5s;
      display: inline-block;
      width: 100%;
      text-align: center;
      margin-bottom:20px;
      position: relative;
      @media only screen and (max-width:640px){
        max-width: 100%;
        width:100%
      }
      &:before{
        content: '';
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left:30px;
        width:25px;
        height:25px;
        background:url(../images/plus-zoom.svg) center no-repeat;
        background-size: cover;
        transition: 0.5s;
      }
     &:hover{
        box-shadow: 0px 0px 10px rgb(215 215 215);
        border-color: rgba(38, 167, 223, 1);
        color:#26A7DF;
        &:before{
          background: url(../images/blue-plus-zoom.svg) center no-repeat;
          background-size: cover;
        }
      }
      &.bg-light:focus, &.bg-light:hover{
        background-color:#fff !important;
      }
    }
  }
}
@media only screen and (min-width:1201px){
  .download-worksheets-container--wrapper{
    padding-left:40px;
    width: 100%;
  }

}

// show/hide resouce des
.lesson_wrapper{
  .main-section{
    display: none;
    &.active{
      display: block;
    }
    /*&:first-child{
      .lesson_wrapper_main_para_item:first-child .lesson_wrapper_main_para_item__body p:first-child{font-size: 21px; line-height: 31px;
        @media only screen and (max-width:767px){
          font-size: 18px;
          line-height: 28px;
        }
      }
    }*/
  }
}

// show/hide resouce des
.resource_wrapper{
  .main-section{
   /* &:first-child{
      .resource_wrapper_main_para_item:first-child .resource_wrapper_main_para_item__body p:first-child{font-size: 21px; line-height: 31px;
         @media only screen and (max-width:767px){
          font-size: 18px;
          line-height: 28px;
        }
      }
    }*/
  }
}

/*-------------left nav design-----------------------*/

.leftnavbar{
  max-width:330px;
  width:100%;
  border-radius: 15px;
  overflow: hidden;
  //border: 1px solid rgb(215, 215, 215);
  transition: 1s;
  margin-top:10px;
  @media only screen and (max-width:767px){
    margin-bottom: 20px;
  }
  &--items{
    transition: 0.5s;
    &:first-child{
      .leftnavbar--title{
        @media only screen and (min-width:768px){
          border-radius: 15px 15px 0 0;
        }
      }
    }
    &.active{
      .leftnavbar--title{
        border: 0;
        background:rgb(7, 53, 115);
        a{
          color:#fff;
          font-weight:700;
        }
        &:before{
            opacity: 1;
        }
      }
    }
    &.active:last-child{
      border-bottom: 0;
    }
    &:hover{
      .leftnavbar--title{
        a{
          font-weight:700;
          text-decoration: underline;
          @media only screen and (max-width:767px){
            text-decoration: none;
         }
        }
      }
    }
    &:last-child{
      .leftnavbar-item{
        border-bottom: 1px solid #d7d7d7;
         @media only screen and (min-width:768px){
            border-radius: 0 0 15px 15px;
         }

      }
      .leftnavbar--title{
        border-bottom: 1px solid #d7d7d7;
         @media only screen and (min-width:768px){
            border-radius: 0 0 15px 15px;
         }
      }
    }
    &.active:last-child{
      .leftnavbar--title{
        border-bottom: 0;
        border-radius:0;
      }
    }
    &.active{
      .leftnavbar-item{display: block;}
    }
  }
  .leftnavbar--items:not(.active){
    .leftnavbar--title{
      background:rgba(242, 242, 242, 1);
    }
  }
  &--title{
      padding:20px 20px;
      position:relative;
      border-top: 1px solid rgb(215, 215, 215);
      transition: 0.5s;
      border-left: 1px solid rgb(215, 215, 215);
      border-right: 1px solid rgb(215, 215, 215);
      transition: 0.5s;
       @media only screen and (max-width:767px){
          border:0;
        }
       &:before{
          content:'';
          position:absolute;
          width:10px;
          height:10px;
          left: -5px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          background: #fff;
          opacity: 0;
          transition: 0.5s;
      }
      a{
          font-size:16px;
          color:rgb(35, 121, 164);
          display: inline-block;
          width:100%;
          text-decoration: none;
          transition: 0.5s;
          @media screen and (max-width:767px) {
            text-align: center;
            &:focus{
              text-decoration: none;
            }
          }
      }
  }

  &-item{
    display: none;
    border-left: 1px solid rgb(215, 215, 215);
    border-right: 1px solid rgb(215, 215, 215);
        ul{
          padding:20px;
          margin:0;
          list-style: none;
          li{
             a{
                display:inline-block;
                width:100%;
                font-size:16px;
                color:rgb(35, 121, 164);
                text-decoration:none;
                line-height:28px;
                position:relative;
                transition:0.5s;
                padding-left:20px;
                 &:before{
                     content:'';
                     position:absolute;
                     left:0;
                     width:4px;
                     height:0;
                     background:rgb(227, 168, 43);
                     transition:0.5s;
                     opacity:0;
                 }
                 &:hover{
                    font-weight:700;
                    text-decoration:underline;
                }
                &.active{
                  font-weight:700;
                    text-decoration:none;
                }
                 &.active{
                     &:before{
                        opacity:1;
                        height:100%;
                     }
                 }
             }
          }
      }
  }

}


@keyframes bottomalign {
  from {

  }
  to {
    position: absolute;
    top:auto;
    bottom: 0;
  }
}

.left-nav{
  position: relative;
  transition: 1s;
  &.sticky{
    .leftnavbar{
      position: fixed;
      top:200px;
      @media only screen and (max-width:991px){
        left:15px;
        max-width:235px;
        width: 100%;
        top:200px;
      }
    }
  }
  &.align-end{
      // display: flex;
      // align-items: flex-end;
    .leftnavbar{
      animation: bottomalign 3s;

      animation-fill-mode: forwards;
    }
  }
  @media screen and (max-width:767px) {
    display: none;
  }
}
.lesson_wrapper .main_section{
  @media screen and (max-width:767px) {
    padding-top: 0;
    .lesson_wrapper_main__lable{margin-bottom: 45px;}
  }
}
.mobiletab{
  display:none;
  margin-bottom: 30px;
  .leftnavbar{
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    border-radius: 0;
    border:none;
    .leftnavbar-item{display: none;}
    .leftnavbar--items{border-bottom: 0;
      flex:1;
      display: flex;
      flex-direction: column;
      height: auto;
      &.active{
        .leftnavbar--title{background: #fff;
          a{font-weight: normal; color:#333; font-weight: bold;}
        }
      }
      .leftnavbar--title{border-bottom: 0; padding:17px 20px; background: #073573; display: flex; align-items: center; height: 100%;
        @media screen and (max-width:767px) {
          padding:17px 12px;
        }
        a{color:#fff; }
        &:before{display: none;}
      }
      + .leftnavbar--items{border-left: 1px solid #fff;}
    }
  }
  @media screen and (max-width:767px) {
    display: block;
  }
}

.proceed-nex-link {
  background: rgba(35, 121, 164, 1);
  padding: 7px 20px;
  text-align: right;
  margin-top:40px;
  a{
    font-size: 16px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    position: relative;
    padding-right:30px;
    &:after{
      content:'';
      position: absolute;
      right:0;
      top:50%;
      transform: translateY(-50%) rotate(90deg);
      background: url(../images/white-right-arrow.svg) center no-repeat;
      width:19px;
      height:22px;
    }
  }
}
/*---------------------left nav design end-----------------------*/


.related_news_slider, .resource_wrapper_left__img{
  .slick-prev, .slick-next{
    &:before{
      content:'';
      width:15px;
      height:25px;
      background: url(../images/slider-arrow.svg) center no-repeat;
      background-size:cover;
      display: inline-block;
      top:0;
    }
    &.slick-disabled {
      &:before{
        background: url('/themes/custom/bcgov_teachers/images/chevron-grey.svg');
        opacity: 1;
      }
    }
  }

  .slick-next:before{
    transform: rotate(180deg);
  }
  // @media only screen and (max-width:1200px){
  //   .slick-prev{left:-14px;}
  //   .slick-next{right:-14px;}
  // }

  @media only screen and (max-width:767px){
    .slick-arrow{
      display:none !important;
    }
    .related_news_wrapper--item-single{padding-left: 0; padding-right: 0;}
  }

  .slick-dots {bottom:-40px;
    li{margin: 0;
      button:before{font-size: 12px;}
    }
  }
  .related_news_wrapper_desc{
    min-height: 100px;
    font-size: 16px;
  }
}

.resource_wrapper_left__img{
  img{margin: 0 auto; display: block;}
}
.stwrapper.stwrapper4x, #stwrapper, #stOverlay{display: none !important;}

@media only screen and (max-width:1600px){
  .related_news_slider{padding:0 10px;}
  .slick-prev{left:-14px;}
  .slick-next{right:-18px;}
}

.search_wrapper{
  .row{
    justify-content: flex-start;
  }
}
.slick-prev, .slick-next{height:28px;}
