.search_wrapper{margin-bottom: 40px;
    .container{
        .row{
            + .row{
                margin-top: 20px;
            }
        }
    }
}

/*------------------Filter styling------------------*/
.block-views-exposed-filter-blocksolr-results-page-1{
    > h2{display: none;}
}
.search-solr-box__inner{
    background: #f2f2f2;
    padding:50px 15px 50px 15px;
    margin-bottom: 30px;
    @media only screen and (max-width:767px){
        background: transparent;
        padding:30px 0 10px 0;
        margin-bottom: 10px;
        position: relative;
        z-index:1;
    }
    .search-solr-box{margin-bottom: 30px;
        @media only screen and (max-width:767px){
            display: none;
         }
        label{display: none;}
        .search_keyword{display: flex;
            @media only screen and (max-width:767px){
               width:100%;
            }
            .form-item{margin:0;
                @media only screen and (max-width:767px){
                    max-width:100%;
                 }
            }
            span{
                display: inline-block;
                font-size: 0;
                flex:0 0 50px;
                width: 50px;
                height: 50px;
                background-color:rgba(35, 121, 164, 1);
                background-image: url(../images/search-icon.svg);
                background-repeat: no-repeat;
                background-size: 20px;
                background-position: center;
                cursor: pointer;
            }
            input{
                max-width: 400px;
                width: 100%;
                border: 2px solid rgba(35, 121, 164, 1);
                border-radius: 0;
                height: 50px;
                font-size: 16px;
                min-width: 400px;
                @media only screen and (max-width:767px){
                    max-width:100%;
                 }
                &:focus{
                    border:0;
                    outline: 0;
                    border: 2px solid rgba(35, 121, 164, 1);
                }
            }
        }

    }

    .search-solr-box__filter{
        .filterbox{
            display: flex;
            align-items: center;
            width:100%;
            @media only screen and (max-width:1024px){
                flex-direction: column;
                align-items: flex-start;
            }
            &__title{
                font-size: 16px;
                color:#333333;
                font-weight: 700;
                position: relative;
                padding-left:40px;
                @media only screen and (max-width:767px){
                    display: none;
                }
                &:before{
                    content:'';
                    position: absolute;
                    top:50%;
                    transform: translateY(-50%);
                    left:0;
                    background: url(../images/filter.png) center no-repeat;
                    background-size:26px;
                    width:30px;
                    height: 30px;
                }
            }
            &__selectgroup{
                display: flex;
                width:100%;
                padding-left:20px;
                @media only screen and (max-width:1024px){
                   padding-left:0;
                   margin-top:10px;
                   flex-wrap: wrap;
                }
            }
            &__dd{
                flex:1;
                @media only screen and (min-width:768px) and (max-width:1023px){
                    flex: 0 0 50%;
                    max-width: 100%;
                    width: 50%;
                    margin-top:5px;
                }

                @media only screen and (max-width:767px){
                    flex: 0 0 100%;
                    width: 100%;
                }
            }
            @media only screen and (min-width:1024px){
                .filterbox__dd-competency{
                    flex:0 0 276px;
                }
            }

        }
    }
}

.search-solr-box--wrapper{
    .fieldgroup{
        margin:0;
        border:0;
        position: relative;
        padding:0 5px;
        background: transparent;
        @media only screen and (max-width:767px){
            padding:0
        }
        .card-header{
            border:0;
            background:#fff;
            position: relative;
            padding:12px 35px 12px 20px;
            cursor: pointer;
            @media only screen and (max-width:767px){
                padding:20px 35px 20px 13px;
            }
            &:after{
                content:'';
                position:absolute;
                top:50%;
                transform: translateY(-50%);
                right: 10px;
                background: url(../images/down-gray-arrow.svg) center no-repeat;
                width: 19px;
                height: 10px;
                background-size: 20px;
            }
            &.open{
                &:after{
                    transform: translateY(-50%) rotate(180deg);
                }
                + .card-body{
                    display: block;
                }
            }
        }
        .card-body{
            position: absolute;
            width: calc(100% - 10px);
            top: 46px;
            z-index: 9;
            background: #fff;
            left:50%;
            transform: translateX(-50%);
            display: none;
            padding:20px 13px;
            label{
                padding-left:30px;
            }
            .form-checkboxes{
                label{
                    position: relative;
                    display: inline-block;
                    font-size: 16px;
                    &:before, &:after{
                        position: absolute;
                        content: '';
                        top:6px;
                        left:0;
                        width:15px;
                        height: 15px;
                        background: url(../images/untick.svg) center no-repeat;
                        background-size: 15px;
                    }
                    &:after{
                        background: url(../images/tick.svg) center no-repeat;
                        opacity: 0;
                    }
                }
                input{
                    opacity:0;
                    position:absolute;
                    &:checked{
                        + label{
                            &:after{
                                opacity: 1;
                            }
                            &:before{
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
        .fieldset-legend{
            font-size: 16px;
            color:#333333;
            font-weight: 700;
            white-space: nowrap;
        }
    }

    .show-result-wrapper{
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .view-header{
                font-size: 16px;
                @media only screen and (max-width:767px){
                    margin-top:40px;
                }
            }
            @media only screen and (max-width:767px){
                align-items: flex-start;
                flex-direction: column-reverse;
            }
            .fieldgroup{padding: 0;
                .card-header{
                      @media only screen and (max-width:767px){
                          padding:10px 35px 10px 20px;
                      }
                }
                .card-body{padding:0; width:100%; border: 1px solid #000;
                    .form-checkboxes{
                        .form-item{margin: 0;}
                        label, .bef-toggle{display: inline-block; width:100%; padding:3px 20px; cursor: pointer; margin: 0; width:100%; color:#333;
                            &:before,&:after{display: none;}
                            &:hover{
                                background:#009CDE;
                                text-decoration: none;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        .search-assest{
            display: flex;
            align-items: center;
            font-size: 15px;
            @media only screen and (max-width:767px){
                width: 100%;
            }
            .fieldgroup{
                margin-left:10px;
                min-width: 250px;
                @media only screen and (max-width:767px){
                    width: 100%;
                }
                .card-header{
                    border:2px solid rgba(175, 175, 175, 1);
                    &:after{background-size:12px;}
                    .fieldset-legend{font-weight: normal;}
                }
                .card-body{top:50px;
                    @media only screen and (max-width:767px){
                        top:67px;
                    }
                }
            }
        }
    }
}

.search_filter__results{
    margin:20px 0;
    .container{
        display: flex;
        align-items: center;
    }
    .search_filter__results-inner{
        display: flex;
        margin-left: -10px;
        margin-right: -10px;
        flex-wrap: wrap;

    }
    .clear-all{margin-left:20px;
        a{font-size: 15px; white-space: nowrap;
            &:hover{text-decoration: underline;}
        }
        @media only screen and (max-width:767px){
            display: none !important;
        }
    }
    .dept-appned{
        display: flex;
        align-items: center;
        border: 2px solid rgba(35, 121, 164, 1);
        border-radius: 18px;
        padding:5px 12px 5px 12px;
        color:rgba(35, 121, 164, 1);
        cursor: pointer;
        transition: 0.5s;
        margin: 5px 10px;
        .dept-title-section{
            font-family: 'ArialMT', 'Arial', sans-serif;
            font-size: 15px;
            white-space: nowrap;
        }

        .deptclose{
            font-size: 0;
            background: url(../images/close-filter.svg) center no-repeat;
            background-size: 11px;
            width:11px;
            height: 11px;
            margin-left:15px;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
        }
        &:hover{
            background: rgba(35, 121, 164, 1);
            color:#fff;
            .deptclose{
                background: url(../images/white-close-filter.svg) center no-repeat;
                background-size: 11px;
            }
        }
    }
}

.search-solr-box__inner .search-solr-box__filter{
    .mobfilter{
        display:none;
        @media only screen and (max-width:767px){
            display: block; width:100%;
            .filterbox__title{display: block; width:100%;
                background:rgba(35, 121, 164, 1);
                color:#fff;
                padding:12px 10px 12px 50px;
                border-radius: 5px;
                border:2px solid  rgba(35, 121, 164, 1);
                border-width: 0;
                text-align: center;
                cursor: pointer;
                &:before{
                    display: none;
                }
                span{position: relative; display: inline-block;
                    &:before{
                        content:'';
                        position: absolute;
                        top:50%;
                        transform: translateY(-50%);
                        left:-45px;
                        background-size:26px;
                        width:30px;
                        height: 30px;
                        background: url(../images/white-filter.svg) center no-repeat;
                    }
                }
                &:hover{
                    background: #fff;
                    border-width: 2px;
                    color:rgba(35, 121, 164, 1);
                    span{
                        &:before{
                            background: url(../images/blue-filter.svg) center no-repeat;
                            background-size:26px;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width:767px){
        .filterbox__selectgroup{display: none;}
    }

    .filterbox.open .filterbox__selectgroup{display: flex;
        @media only screen and (max-width:767px){
            position: relative;
            left: 50%;
            transform: translateX(-50%);

            .filterbox__dd {
                border-bottom: 1px solid #e5e5e5;
            }
        }
    }
}
.view-solr-results .view-header{display: none;}
form#views-exposed-form-solr-results-page-1{
    .form-actions{margin: 0;}
}

.show-result-wrapper{
    .view-header--wrapper{display: flex; align-items: center; justify-content: space-between; width: 100%;}
    .clear-all{display: none; margin-top:40px;     visibility: hidden;
        a{font-size: 15px;}
        @media only screen and (max-width:767px){
            display: block; visibility:visible;
        }
    }
}
/*------------------Filter styling end------------------*/
