.paragraph--type--grade-access {
  background: $teachers-bg-light-grey;

  > .container {
    align-content: flex-start;
    align-items: stretch;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 1195px) {
      max-width: 768px;
      align-items: center;
    }
  }

  .description {
    @media (max-width: 1195px) {
      flex: 0 0 100%;
      max-width: none;
      text-align: center;
    }
    @media (min-width: 1196px) {
      align-self: center;
    }

    h1 {
      font-size: 1.6rem;
      line-height: 1.6rem;
      font-weight: 400;

      @media (min-width: 768px) {
        font-size: 2.6rem;
        line-height: 2.6rem;
      }
    }

    @media (min-width: 768px) {
      p {
        font-size: 1.3rem;
      }
    }

    @media (max-width: 1195px) {
      .field--name-field-grade-access-link {
        display: none;
      }
    }

    a {
      &::after {
        display: inline-block;
        width: 14px;
        height: 18px;
        margin-left: 10px;
        content: ' ';
        background: url('/themes/custom/bcgov_teachers/assets/arrow.svg');
        background-size: cover;
        vertical-align: middle;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }

  @media (max-width: 767px) {
    .grade-access-item {
      max-width: 274px;
    }

    .grade-access-item + .grade-access-item {
      margin-top: 20px;
    }
  }

  .paragraph--type--grade-access-blocks {
    height: 100%;
    padding: 36px 20px 20px;
    text-align: center;
    background: $white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -khtml-border-radius: 15px;
    border: 2px solid $white;
    box-shadow: 0 0 5px rgba(170,170,170, 0.35);
    overflow: hidden;

    &:hover {
      border-color: $teachers-secondary-blue;
      border-color: var(--grade-color);
      cursor: pointer;

      .field--name-field-grade-access-link {
        a {
          &:link,
          &:visited,
          &:hover,
          &:active,
          &:focus {
            color: $white;

            &:after {
              content: " ";
              position: absolute;
              top: 50%;
              right: 10px;
              display: block;
              width: 9px;
              height: 15px;
              margin-top: -7px;
              background: url('/themes/custom/bcgov_teachers/assets/chevron.svg');
              background-size: cover;
              vertical-align: middle;
              -moz-transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    .field--name-field-grade-access-block-title {
      font-weight: bold;
      color: $teachers-secondary-blue;
      color: var(--grade-color);
      margin-bottom: 25px;

      p:first-child {
        margin-bottom: 15px;
        font-weight: normal;
        font-size: 2.3rem;

        &::first-line {
          font-size: 1.2rem;
          line-height: 0.4rem;
          font-weight: bold;
        }
      }

      p:last-child {
        margin-bottom: 0;
      }

      strong {
        font-size: 4.8rem;
        line-height: 4.8rem;
        vertical-align: middle;
      }
    }

    .field--name-field-grade-access-body {
      p {
        font-size: 1rem;
      }
    }

    .field--name-field-grade-access-link {
      a {
        position: relative;
        display: block;
        padding: 15px 20px;
        border-radius: 15px;
        font-size: 1rem;
        line-height: 1.1rem;

        &:link,
        &:visited {
          color: $white;
          background: $teachers-secondary-blue;
          background: var(--grade-color);
          text-decoration: none;
        }
        &:hover,
        &:active,
        &:focus {
          color: $white;
          text-decoration: none;

          &:after {
            content: " ";
            position: absolute;
            top: 50%;
            right: 10px;
            display: block;
            width: 9px;
            height: 15px;
            margin-top: -7px;
            background: url('/themes/custom/bcgov_teachers/assets/chevron.svg');
            background-size: cover;
            vertical-align: middle;
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .link-under {
    margin-top: 30px;
    text-align: center;

    a {
      &::after {
        display: inline-block;
        width: 14px;
        height: 18px;
        margin-left: 10px;
        content: ' ';
        background: url('/themes/custom/bcgov_teachers/assets/arrow.svg');
        background-size: cover;
        vertical-align: middle;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
}
