.paragraph--type--paragraph-simple {
  img {
    display: inline-block;

    &.align-right {
      margin-bottom: 30px;
      margin-left: 30px;
    }

    &.align-left {
      margin-bottom: 30px;
      margin-right: 30px;
    }

    &.align-right,
    &.align-left {
      height: auto;
      max-width: 33%;
    }
  }

  .container {
    .field--name-field-para-simple-body {
      *:last-child {
        margin-bottom: 0;
      }
      h2:first-child,p:first-child{
        font-size: 21px;
      }
      p{
        font-size: 16px;
      }
    }
  }
}
