@font-face {
  font-family: 'BC Sans';
  font-style: normal;
  src: url('../fonts/BCSans-Regular.eot'); // IE
  src: url('../fonts/BCSans-Regular.eot?#iefix') format('embedded-opentype'), // IE
  url(../fonts/BCSans-Regular.woff2) format("woff2"), url(../fonts/BCSans-Regular.woff) format("woff");  /* Modern Browsers */
}

@font-face {
  font-family: 'BC Sans';
  font-style: italic;
  src: url('../fonts/BCSans-Italic.eot');
  src: url('../fonts/BCSans-Italic.eot?#iefix') format('embedded-opentype'), // IE
  url(../fonts/BCSans-Italic.woff2) format("woff2"), url(../fonts/BCSans-Italic.woff) format("woff");  /* Modern Browsers */
}

@font-face {
  font-family: 'BC Sans';
  font-weight: 700;
  src: url('../fonts/BCSans-Bold.eot');
  src: url('../fonts/BCSans-Bold.eot?#iefix') format('embedded-opentype'), // IE
  url(../fonts/BCSans-Bold.woff2) format("woff2"), url(../fonts/BCSans-Bold.woff) format("woff");  /* Modern Browsers */
}

@font-face {
  font-family: 'BC Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/BCSans-BoldItalic.eot');
  src: url('../fonts/BCSans-BoldItalic.eot?#iefix') format('embedded-opentype'), // IE
  url(../fonts/BCSans-BoldItalic.woff2) format("woff2"), url(../fonts/BCSans-BoldItalic.woff) format("woff");  /* Modern Browsers */
}

@font-face {
  font-family: 'BCSans-Italic';
  font-style: italic;
  src: url('../fonts/BCSans-Italic.eot');
  src: url('../fonts/BCSans-Italic.eot?#iefix') format('embedded-opentype'), // IE
  url(../fonts/BCSans-Italic.woff2) format("woff2"), url(../fonts/BCSans-Italic.woff) format("woff");  /* Modern Browsers */
}


html {
  font-size: 16px;

  &[data-font-size='normal'] {
    font-size: 16px;
  }
  &[data-font-size='big'] {
    font-size: 18px;
  }
  &[data-font-size='bigger'] {
    font-size: 20px;
  }

  body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    color: $teachers-text;

    &[data-font-size='normal'] {
      font-size: $font-size-base;
    }
    &[data-font-size='big'] {
      font-size: $font-size-lg;
    }
    &[data-font-size='bigger'] {
      font-size: $font-size-xl;
    }
  }
}

a {
  &:link,
  &:visited {
    color: $teachers-link;
    text-decoration: none;
  }
  &:hover,
  &:active,
  &:focus {
    color: $teachers-link;
    text-decoration: underline;
  }
}

.paragraph,
article.block-views {
  padding: 60px 0;

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.nobr {
  white-space: nowrap;
}

.clearfix {
  &:after {
    content: " ";
    clear: both;
    display: table;
  }
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }
}

h2 {
  font-weight: normal;
  line-height: 1.9rem;
}