header {
  .navbar {
    display: block;
    // min-height: 55px;
    padding: 0;
    background: $teachers-primary-blue;
    align-items: stretch;

    > .container {
      height: 55px;
      align-content: center;
      padding-left: 10px;
      padding-right: 10px;


      @media (min-width: 768px) {
        align-items: stretch;

        &:first-child {
          display: none;
        }
      }
      @media (max-width: 767px) {
        max-width: 100%;
      }

      > .navbar-toggler {
        border: none;
      }
    }

    .mobile-search,
    .mobile-menu-toggle {
      padding: 10px 0;
    }

    .mobile-search {
      flex-grow: 2;
      padding-right: 10px;

      .block-search {
        width: 100%;

        @media (max-width: 230px) {
          display: none;
        }

        form {
          flex-direction: row;
        }

        .form-type-search {
          flex-grow: 2;
        }

        .form-search {
          width: 100%;
        }
      }
    }

    .mobile-menu-toggle {
      .navbar-toggler {
        border: none;
      }
    }

    > .navbar-collapse {
      z-index: 10;

      @media (min-width: 768px) {
        height: 55px;
        align-items: stretch;
        align-content: center;
      }
    }

    .region-nav-main {
      width: 100%;
      height: 100%;
    }

    .menu--main {
      height: 100%;

      .nav {
        height: 100%;

        @media (max-width: 230px) {
          display: none;
        }

        @media (max-width: 767px) {
          flex-direction: column;
          flex-wrap: nowrap;
        }
      }

      .nav-item {
        display: block;

        @media (min-width: 768px) {
          display: table;
          height: 100%;
        }
      }

      .nav-link {
        display: table-cell;
        vertical-align: middle;

        @media (max-width: 767px) {
          display: block;
        }
      }

      a {
        &:link,
        &:visited {
          color: $white;
          text-decoration: none;
        }

        &:hover,
        &:active,
        &:focus {
          color: $white;
          text-decoration: underline;
        }

        &.active,
        &.is-active {
          font-weight: bold;
          background-color: $teachers-secondary-blue;
        }
      }
    }
  }
}
