<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
</head>
<body>

	<div class="navbar-brand">
      		<a href="https://www.workbc.ca/" title="WorkBC" rel="home" class="site-logo" target="_blank"><img src="/themes/custom/bcgov_teachers/assets/workbc-logo.svg" alt="WorkBC"></a>
      		<a href="/" title="Home" rel="home" class="site-title">Career Education Resources</a>
  	</div>

<div class="page">
    {{ content }}
</div>
</body>
</html>
