.block-better-social-sharing-buttons {
  margin-left: 2px;
}

.social-sharing-buttons {
  margin: 0px 0px 5px 0px;

  svg {
    background: #333333;
    fill: white;
  }

  .share-x svg {
    border: 5px solid #333333;
  }

  a {
    margin: 0px 0px 0px 6px;
  }
}