footer {
  padding: 0;
}

.footer {
  padding: 60px 0;
  background: $teachers-secondary-blue;

  .region-footer {
    padding: 0;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-item {
    .nav-link {
      margin-right: 0.5rem;
      padding: 0;
      font-size: 0.9rem;

      &:after {
        content: " ";
        display: inline-block;
        height: 0.8rem;
        width: 1px;
        margin-left: 0.5rem;
        background: $white;
      }

      &:link,
      &:visited {
        color: $white;
        text-decoration: none;
      }

      &:hover,
      &:active,
      &:focus {
        color: $white;
        text-decoration: underline;
      }
    }
    &:last-child {
      .nav-link {
        margin-right: 0;

        &:after {
          display: none;
        }
      }
    }
  }
}

#block-bcgov-teachers-footer {
  margin-bottom: 1.375rem;

  @media (max-width: 768px) {
    .navbar-nav {
      justify-content: center;
    }
  }
}

.social-icons {
  @media (max-width: 768px) {
    text-align: center;
  }

  a {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 21px;

    &:first-child {
      margin-left: 0;
    }

    &:link,
    &:visited {
      background: $white;
    }

    &:hover,
    &:active,
    &:focus {
      background: $teachers-bg-fullight-grey;
    }

    &.social-twitter { color: #009cd8; }
    &.social-youtube { color: #d21c22; }
    &.social-linkedin { color: #006caa; }
    &.social-facebook { color: #3d5b98; }
  }

  span {
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block;
  }
}

#block-bcgov-teachers-increasetextsize {
  @media (max-width: 768px) {
    text-align: center;
  }

  p {
    color: $white;
    margin-bottom: 0;
  }

  span:first-child {
    margin-right: 25px;
  }

  a {
    display: inline-block;
    margin-right: 25px;
    font-weight: bold;

    &:link,
    &:visited {
      color: $white;
      text-decoration: none;
    }

    &:hover,
    &:active,
    &:focus {
      color: $white;
      text-decoration: underline;
    }

    &:last-child {
      margin-right: 0;
    }

    &.size-normal {
      font-size: 1rem;
    }
    &.size-big {
      font-size: 1.3rem;
    }
    &.size-bigger {
      font-size: 1.6rem;
    }
  }
  .increase-title{
    font-size: 0.9rem;
  }
}

.region-under-footer {
  display: flex;
  padding: 30px 0;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width:1000px){
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  // @media (max-width: 768px) {
  //   display: block;
  // }

  #block-bcgov-teachers-copyright {
    order: 1;

    @media (max-width: 768px) {
      text-align: center;
      width: 320px;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 0.9rem;
      color: $teachers-copyright;

      a {
        &:link,
        &:visited {
          color: $teachers-copyright;
          text-decoration: underline;
        }

        &:hover,
        &:active,
        &:focus {
          color: $teachers-copyright;
          text-decoration: none;
        }
      }
    }
  }

  #block-bcgov-teachers-footerbclogo {
    order: 2;

    @media (max-width: 768px) {
      text-align: center;
      margin-bottom: 30px;
    }

    p {
      margin: 0;
      padding: 0;
    }
    img {
      display: inline-block;
      width: 175px;
      height: auto;
    }
  }
}