header {background: #fff;
  .region-header {
    background: $white;
    border-bottom: none;
    height: auto;

    > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 145px;

      @media (max-width: 767px) {
        height: auto;
        max-width: 100%;
        width:100%;
      }
    }

    .navbar-brand {
      width: 100%;
      padding: 20px 0;
      margin-right: 0;
      background: none;

      @media (min-width: 768px) {
        display: table;
        padding-top: 0;
        padding-bottom: 0;
      }

      @media (max-width: 767px) {
        flex-wrap: wrap;
        flex-direction: column;
      }

      .site-logo {
        display: table-cell;
        width: 260px;
        padding: 0 0 0 20px;
        margin: 0;
        box-sizing: content-box;

        @media (min-width: 768px) and (max-width: 992px) {
          display: block;
        }

        @media (max-width: 767px) {
          display: block;
          width: 175px;
          min-width: 175px;
          max-width: 100%;
          /*margin: 0 auto;*/
          padding-left: 0;
        }
      }

      img {
        display: inline-block;
        width: 100%;
        max-width: 260px;
        height: auto;

        @media (max-width: 767px) {
          width: 175px;
        }
      }

      .site-title {
        display: table-cell;
        vertical-align: top;
        padding: 0 15px;
        text-align: left;
        text-transform: inherit;
        font-weight: 400;
        font-style: normal;
        font-size: 1.2rem;
        line-height: 1.2rem;
        letter-spacing: normal;

        @media (max-width: 767px) {
          display: none;
          text-align: left;
          margin-top: 10px;
          padding: 0;
          text-align: center;
        }

        @media (min-width: 768px) and (max-width: 992px) {
          display: block;
          text-align: left;
          margin-top: 10px;
          padding: 0 0 0 20px;
        }

        @media (min-width: 340px) {
          font-size: 1.4rem;
          line-height: 1.4rem;
        }
        @media (min-width: 768px) {
          font-size: 1.6rem;
          line-height: 1.6rem;
        }
        @media (min-width: 993px) {
          padding:0  15px 0 54px;
        }
        @media (min-width: 991px) {
          font-size: 1.7rem;
          line-height: 1.7rem;
          padding:0  15px 0 54px;
        }
        @media (min-width: 1195px) {
          font-size: 2.6rem;
          line-height: 2.6rem;
        }
      }

      a {
        &.site-title {
          &:link,
          &:visited {
            color: $secondary_color_7;
            text-decoration: none;
          }
          &:hover,
          &:active,
          &:focus {
            color: $secondary_color_7;
            text-decoration: none;
          }
        }
      }
    }

    .block-system-branding-block {
      flex-grow: 2;
    }

    @media (max-width: 767px) {
      .block-search {
        display: none;
      }
    }
  }

  .block-search {
    order: 2;
    width: 300px;
    height: 35px;
    margin-top: 9px;
    border: 2px solid $teachers-secondary-blue;
    border-radius: 15px;
    overflow: hidden;

    @media (min-width: 768px) {
      min-width: 300px;
    }

    .contextual {
      display: none;
    }

    form {
      display: flex;
      flex-direction: row;
    }

    h2 {
      display: none;
    }

    .form-search {
      width: 245px;
      height: 31px;
      padding: 0 1rem;
      border: none;
      background: none;
      border-radius: 0;

      &::placeholder {
        color: #999;
        font-size: 0.85em;
      }
    }

    .form-submit {
      width: 51px;
      height: 31px;
      padding: 0;
      line-height: 31px;
      background: $teachers-bg-fullight-grey;
      border: none;
      border-radius: 0;
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      font-size: 20px;
      color: $teachers-secondary-blue;

      &:hover {
        background: #c5c5c5;
      }
    }
  }

  .navbar {
    .region-nav-branding {
      .block-search {
        margin-top: 0;
        background: $white;
      }

      .form-actions {
        margin: 0;
        width: 51px;
      }
    }
  }
}

body:not(.path-frontpage){
    @media (max-width: 767px){
      header .region-header .navbar-brand{
        .site-logo {
          margin: 0 auto 6px;
        }
        .site-title{display: block; text-align: center;}
      }
    }
}
